body {
  background-image: url("/backgrounds/flower.jpg");
  background-size: cover;
}

.card {
  width: 25%;
  height: 50%;
  display: inline-block;
  padding: 10px;
}

.container {
  padding: 16px 16px;
  background-color: #ffedf0;
}

div.transbox {
  margin: 15px;
  padding: 10px;
  background-color: #ffedf0;
  border: 1px solid #545677;
  opacity: 0.9;
  height: 150px;
  overflow: scroll;
}

div.transbox p {
  margin: 2%;
  font-weight: bold;
  font-size: large;
  color: #545677;
}

/* Style the topnav links */
.topnav a {
  float: center;
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
  background-color: #D2CCF1;
  color: #545677;
}

/*drop down*/
.navbar {
  overflow: hidden;
  background-color: #545677;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #D2CCF1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #545677;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #D2CCF1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*footer*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height: 12%;
   width: 100%;
   opacity: 50%;
   background-color: #545677;
   color: white;
   text-align: center;
}